/* Styling the main content area */
@media screen and (min-width: 1000px) {
  .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .container-fluid {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (min-width: 1500px) {
  .container-fluid {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1700px) {
  .container-fluid {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* Styling both navbars  */
@media screen and (min-width: 1000px) {
  .navbar {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (min-width: 1500px) {
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1700px) {
  .navbar {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* Styling navbar, heading bars, and footer */
.navbar,
.heading-bar,
.footer {
  background: #4d636f;
}

.navbar,
.heading-bar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.heading-bar,
.footer {
  color: white;
  text-align: center;
}

/* Styling all buttons */
.btn {
  background: #607d8b;
  color: white;
}

.btn:hover {
  background: #495861;
  color: white;
}

/* STYLING JUMBOTRON */
.jumbotron {
  border-radius: 0;
  background-image: url(../images/jumbotron_img.jpg);
  background-size: cover;
}

/* SETTING FOOTER'S HEIGHT EXPLICITLY */
.footer {
  height: 50px;
  font-size: 0.8rem;
}

/* MAKING THE FOOTER STICK AT THE BOTTOM */
.container-fluid {
  min-height: calc(100vh - 50px);
}

/* MAKING ALL FONTAWESOME ICONS BIGGER */
i.fas {
  font-size: 1.3rem;
}

/* MAKING ALL CARDS HAVE SHADOW EFFECT */
.card {
  box-shadow: 0px 0px 50px 4px rgb(160, 155, 155);
}

/* MAKING THE RANKING SMALLER */
span.ranking {
  font-size: 0.7rem;
}

/* FOOTER LINKS */
.footer a {
  color: white;
  text-decoration: underline;
}

/* MODAL STYLING */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* MAKING CONTACT ICONS BIGGER */
.contact-bar i.fas,
.contact-bar i.fab {
  font-size: 2.2rem;
}

.contact-bar-wrapper {
  position: relative;
}

.contact-bar {
  position: absolute;
  right: 5%;
  top: 0;
}

.contact-bar > div {
  margin: 11px 0;
}

@media only screen and (min-width: 999px) {
  .contact-bar {
    position: fixed;
    flex-direction: column;
    top: 40%;
    right: 0.5%;
  }

  .contact-bar > div {
    margin: 10px 0;
  }
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

@media only screen and (max-width:575px) {
  .contact-bar {
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-bar > div {
    margin: 25px 0;
    padding: 0 8px;
  }
  
  .contact-bar i.fas,
  .contact-bar i.fab {
    font-size: 2rem;
  }

  div > a > img {
    width: 35px;
    height: 24px;
  }
}
